*{
    
    text-align: center;
    
}
.title{
    background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    background-size: 100% 100%;
    
}
#tb{
    width: 30%;
    border: 1px solid #000;
    text-align: center;
    margin: auto;
}

.dinamic{
    margin-top: 10px;
}

.banner{
    width: 100%;
    height: 100px;
    background: rgb(1, 182, 253);
    background-image: url();
    background-size: 100% 100%;
    animation: banner 15s infinite;
    /*position: relative;*/

}
@keyframes banner{
    0%, 30%{
        background: rgb(1, 182, 253);
        background-image:url();
        opacity: 1;
    }
    31%,34%{
        opacity: 0.1;
    }
    35%, 65%{
        background:  rgb(42, 193, 253);
        background-image:url();
        opacity: 1;
    }
    66%,69%{
        opacity: 0.1;
    }
    70%, 100%{
        background:  rgb(1, 164, 228);
        background-image:url();
        opacity: 1;
    }
}